.app-icon {
    transition: transform ease 500ms;
}

.app-icon:hover {
    transform: scale(1.2);
    transition: transform ease 1s;
}

.app-icon>span {
    transition: color ease-out 0.5s;
}

.app-icon:hover>span {
    color: #ffda35;
    transition: color ease-in 0.5s;
}

.app-icon>img {
    transform: rotate(0deg);
    transition: transform ease-out 0.1s;
}

.app-icon:hover>img {
    transform: rotate(-20deg);
    transition: transform ease-in 0.5s;
}

.menu-item {
    color: #f4f4f4;
    transition: color ease-out 0.5s;
}

.menu-item:hover {
    color: #ffda35;
    transition: color ease-in 0.5s;
}