<div class="card shadow-sm d-flex flex-column justify-content-center">
    <div class="card-body p-4">

        <!--Username field-->
        <i class="fas fa-user text-dark me-1"></i>
        <label class="form-label fw-bold text-uppercase">Username</label>
        <div class="position-relative">
            <input type="text" class="form-control solid" (input)="onUsernameChanged($event)" [(ngModel)]="username">
        </div>

        <!--Password field-->
        <i class="fas fa-key text-dark me-1 mt-3"></i>
        <label class="form-label fw-bold text-uppercase" appHighlight>Password
        </label>

        <div class="position-relative">
            <input [type]="inputPasswordType()" class="form-control solid" (input)="onPasswordChanged($event)"
                [(ngModel)]="password">

            <!--Buttons to switch password visibility-->
            <button type="button" class="position-absolute text-muted end-0 top-50 translate-middle-y 
                        btn button-white p-1 me-1" (click)="onPasswordVisiblityChanged()">
                <!-- Change the icon class based on the property value-->
                <i [ngClass]="{ 'fas fa-eye' : !isPasswordVisible, 'fa fa-eye-slash' : isPasswordVisible }"></i>

            </button>

        </div>

        <!--Confirm button-->
        <div class="d-flex justify-content-center mt-4 text-uppercase">
            <div class="d-flex w-50">
                <button class="btn btn-primary me-2 flex-grow-1" (click)="onLogin()" [disabled]="!isLoginEnabled">
                    Login
                </button>
            </div>
        </div>

    </div>
</div>